<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpTunes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpTunes.Properties.Settings>
            <setting name="LookupPath" serializeAs="String">
                <value>/lookup</value>
            </setting>
            <setting name="Scheme" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>itunes.apple.com</value>
            </setting>
            <setting name="SearchPath" serializeAs="String">
                <value>/search</value>
            </setting>
        </SharpTunes.Properties.Settings>
    </userSettings>
</configuration>